---
name: Checks

on: [push, pull_request]

jobs:
  test-lint:
    name: Test and Lint
    runs-on: ubuntu-20.04
    steps:
      - name: Create .env.dev file
        run: |
          echo "SECRET_KEY=${{ secrets.SECRET_KEY }}" >> .env.dev
          echo "SQL_ENGINE=${{ secrets.SQL_ENGINE }}" >> .env.dev
          echo "SQL_DATABASE=${{ secrets.SQL_DATABASE }}" >> .env.dev
          echo "SQL_USER=${{ secrets.SQL_USER }}" >> .env.dev
          echo "SQL_PASSWORD=${{ secrets.SQL_PASSWORD }}" >> .env.dev
          echo "SQL_HOST=${{ secrets.SQL_HOST }}" >> .env.dev
          echo "SQL_PORT=${{ secrets.SQL_PORT }}" >> .env.dev

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Compose
        run: |
          curl -L "https://github.com/docker/compose/releases/download/1.29.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          chmod +x /usr/local/bin/docker-compose
      - name: Test
        run: docker-compose run --rm app sh -c "python manage.py wait_for_db && python manage.py test"
      - name: Lint
        run: docker-compose run --rm app sh -c "flake8"